{% extends 'base.html.twig' %}

{% block title %}Edit ServiceCard{% endblock %}

{% block body %}
    <h1>Edit ServiceCard</h1>

    {{ include('service_card/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_service_card_index') }}">back to list</a>

    {{ include('service_card/_delete_form.html.twig') }}
{% endblock %}
