{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        {# Titre h1 de la page #}
        <div class="row">
            <div class="col-12">
                <h1 class="text-center my-5">Créer un compte</h1>
            </div>
        </div>

        {# Formulaire d'inscription #}
        <div class="row">
            <div class="col-12 col-md-4 mx-auto">
                {{ form(registrationForm) }}
            </div>
        </div>

    </div>




{% endblock %}
