{% extends 'base.html.twig' %}





{% block title %}Formation{% endblock %}
{% block body %}

    <h1 class="formation">Nos<br>Formations</h1><br>

    <p>Lebosq Networks, c'est aussi une équipe investie dans la formation.<br>
        Nous vous proposons deux modules pour répondre à vos besoins.

    </p>



    <div class="row">
        <div class="col-md-3 mx-auto p-4 m-5">
            <div class="carde col-lg-4 my-3 w-100">

                <div class="card-inner">
                    <div class="card-front">

                        <h6 data-aos="zoom-out-right" data-aos-duration="1000">Formation rapide</h6>

                    </div>
                    <div class="card-back">
                        <p>Idéal pour les auditeurs qui ont de bonnes notions et souhaitent rapidement monter en
                            compétence et consolider leurs connaissances. Ce mode est généralement prévue sur une
                            demi-journée.</p>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-3 mx-auto p-4 m-5">
            <div class="cardss col-lg-4 my-3 w-100">
                <div class="card-inner">
                    <div class="card-front">
                        <h6 data-aos="zoom-out-right" data-aos-duration="1000">Formation classique</h6>
                    </div>
                    <div class="card-back">
                        <p>Les auditeurs suivent la formation en détaillant chaque étape. Une attention particulière
                            sera portée à la compréhension des apprenants.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>

        <p class="text1 text-center">Notre équipe vous propose deux enseignements pour s'adapter à vos attentes.</p>

        <ul class="list">
            <li class="puce">Formation bureautique :</li>
        </ul>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title fw-bold fs-3"></h5>
                <p class="card-text">
                    Office 365 est une suite d’applications en ligne proposée par Microsoft</p>


                <p class="word">
                    Word : un logiciel de traitement de texte pour créer et éditer des documents.</p>


                <p class="excel">
                    Excel : un tableur pour créer et gérer des feuilles de calculs, des graphiques et des tableaux.</p>
                <p class="powerpoint">
                    PowerPoint : un logiciel de présentation pour créer des diaporamas professionnels avec des effets de
                    transition, des animations et des médias.</p>


            </div>
        </div>
        <h3 class="titre3 text-center fw-bold p-2 ">Les objectifs</h3>
        <p class="text1"> Apprendre les outils essentiels de la bureautique avec Office, de l'utilisation du PC aux
            fonctions essentielles du traitement de texte Word, du tableur Excel et de PowerPoint.<br> Une formation
            essentielle quel que soit son secteur d'activité.<br>

            En fin de stage, vous serez capable d'utiliser les fonctionnalités essentielles des outils de bureautique
            afin d'être autonome.
        </p>
        <h3 class="titre3 text-center fw-bold p-3 ">Le programme</h3>


{#            <div class="col-lg-4 my-3 w-100">#}


        <table>
            <tr>
                <th class="word">Word</th>
                <th class="excel">Excel</th>
                <th class="powerpoint">PowerPoint</th>
            </tr>

            <tr>
                <td>Démarrer avec Word<br>Reprise des fondamentaux<br>Le ruban<br>Mode affichage écran<br>Sélection et
                    déplacement<br>Gestion courante des documents (ouverture, enregistrement, fermeture, etc.).<br>Formatage
                    (mise en forme des documents)<br>Polices, tailles, attributs de caractère<br>Couper, copier,
                    coller<br>Listes à puces<br>Paragraphes : alignement, retrait, espacement, interlignage<br>Bordures
                    et trames<br>Formatage avancé<br>Retrait de paragraphe<br>La tabulation : utilisation du menu et de
                    la règle<br>Mise en page : marges, format papier, disposition<br>En-têtes et pieds de page<br>Insertion
                    des caractères spéciaux<br>Fonctions d’impression<br>Éditions / Corrections / Vérifications<br>Outil
                    de correction automatique<br>Utilisation des insertions automatiques existantes<br>Correction
                    orthographique<br>Recherche et remplacement du texte<br>Correction orthographique et
                    grammaticale<br>Recherche des synonymes<br>Statistiques<br>Synthèse automatique<br>Le
                    presse-papier<br>Styles<br>Créer un style basé sur une mise en forme existante<br>Créer un style
                    sans exemple de mise en forme<br>Appliquer un style<br>Modifier un style<br>Remplacer un style par
                    un autre<br>Supprimer un style<br>Modèles<br>Créer un modèle basé sur un existant<br>Créer un modèle
                    basé sur un document existant<br>Modifier un modèle de document<br>Publipostage
                </td>


                <td>Manipuler les classeurs<br>Insérer des feuilles<br>Déplacer des feuilles<br>Renommer des
                    feuilles<br>Choix du nombre de feuille par défaut<br>Protection<br>Protéger un classeur à l’aide
                    d’un mot de passe<br>Protéger les cellules d’une feuille de calcul<br>Calculs / Fonctions<br>Le
                    calcul par défaut<br>Les formules de calcul<br>Les fonctions de calcul<br>Les recopies de
                    formules<br>Les pourcentages<br>Fonction NB<br>Définition et utilisation des noms<br>La fonction
                    SI<br>Mise en forme / Mise en page<br>Créer une zone d’impression<br>Modifier l’échelle d’impression<br>La
                    mise en forme automatique<br>La mise en forme conditionnelle<br>Impression : répétition des
                    titres<br>Impression : aperçu et manipulation des sauts de pages<br>Insérer un en-tête et pied de
                    page automatique et personnalisé<br>Suppression des en-têtes et pieds de page<br>Affichage des
                    données<br>Les styles<br>Les volets<br>Le zoom<br>La barre d'outils<br>La barre d'outils dessin<br>Les
                    commentaires<br>Séries et listes personnalisées<br>Séries linéaires<br>Séries chronologiques<br>Séries
                    géométriques<br>Créer une liste<br>Les graphiques avec EXCEL<br>Choix des données<br>Utiliser
                    l'assistant<br>Les graphiques en tant qu'objet<br>Placer le graphique sur une nouvelle feuille<br>Modifier
                    le type de graphique<br>Modifier les données sources<br>Modifier les options, l'emplacement, la
                    couleur<br>Ajouter des données<br>Les tableaux croisés dynamiques<br>Créer et supprimer un tableau
                    croisé dynamique<br>Ajouter et supprimer un champ dans un tableau croisé dynamique<br>Réorganiser
                    les champs<br>Filtrer un tableau croisé dynamique
                </td>
                <td>Savoir présenter des documents<br>L’environnement PowerPoint<br>Les diapositives (conception et mise
                    en forme)<br>Les diaporamas (conception, gérer les transitions....)<br>Insertion d’images, de
                    musiques...<br>Le mode masque<br>Découvrir le mode masque des diapositives<br>Modifier le masque du
                    document<br>Modifier le masque des pages de commentaires<br>Animations<br>Appliquer un effet
                    d’animation simple<br>Appliquer un effet d’animation personnalisé<br>Afficher un aperçu des
                    animations<br>Répéter un effet d’animation<br>Appliquer un son à un effet d’animation
                </td>
            </tr>


        </table>
<div class="container">
{#    <div class="col-md-3 mx-auto p-4 m-5 d-flex justify-content-center">#}

    <div class="row ">
        <div class="col-md-4 img-container">

            <img class="picture1 text-bg-dark m-5" src="{{ asset('images/wordmodif.png') }}" alt=""></div>
            <div class="col-md-4 img-container">
                <img class="picture1 text-bg-dark m-5" src="{{ asset('images/excelmodif.png') }}" alt=""></div>
                <div class="col-md-4 img-container">
                    <img class="picture1 text-bg-dark m-5" src="{{ asset('images/powerpoint.png') }}" alt=""></div>

    </div>
</div>



        <ul class="list">
            <li class="puce">Formation technique :</li></ul>
            <h3 class="titre3 text-center fw-bold ">Les objectifs</h3>
            <p class="text1"> Apprendre les outils techniques essentiels, de l'utilisation du PC aux
                fonctions techniques réseaux, IPV4, Linux<br> Une formation
                technique quel que soit son secteur d'activité.<br>

            </p>
        <h3 class="titre3 text-center fw-bold p-3 ">Différentes sections</h3>

    </section>

    <div class="row">
        <div class="col-md-3 mx-auto p-4 m-5">
            <div class="cardes col-lg-4 my-3 w-100">
                <div class="page">
                    <div class="margin"></div>

                    <h2>Initiation Réseaux</h2><br>

                    Cette formation permet aux auditeurs d'avoir une vue d'ensemble des réseaux actuels

                </div>
            </div>
        </div>

        <div class="col-md-3 mx-auto p-4 m-5">
            <div class="cardes col-lg-4 my-3 w-100">
                <div class="page">
                    <div class="margin"></div>

                    <h2>IPV4</h2><br>

                    Cette formation met l'accent sur l'adresse IPV4. A la fin de cette formation l'auditeur aura une vue
                    d'ensemble de l'adressage.

                </div>
            </div>
        </div>

        <div class="col-md-3 mx-auto p-4 m-5">
            <div class="cardes col-lg-4 my-3 w-100">
                <div class="page">
                    <div class="margin"></div>


                    <h2>Initiation Linux</h2><br>

                    Cette formation, accessible à tous, vous permettra de voir le système d'exploitation Linux.


                </div>
            </div>
        </div>
    </div>


    <div class="card-img text-bg-dark">
        <img src="{{ asset('/images/services9.jpg') }}" class="card-img" alt="...">

    </div>







    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright : © 2023 VILA VINCENT |

    </div>
    <!-- Copyright -->

{% endblock %}

