{% extends 'base.html.twig' %}


{% block title %}Service{% endblock %}


{% block body %}


            <h1 class="title">Services</h1>

            <p class="paragraph">Bienvenue sur notre page dédiée aux services informatiques, où nous mettons notre
                expertise à votre disposition pour répondre à tous vos besoins en matière de technologies de
                l’information. Que ce soit pour la gestion de vos données, la sécurisation de votre réseau ou encore la
                refonte de vos infrastructures sur mesure, nous sommes là pour vous accompagner dans toutes vos
                démarches informatiques.</p>




    <h1 class="title1">Infrastructure / Système</h1>
    <p class="paragraph1">Nous vous assistons dans les domaines suivants :</p>




    <div class="container">
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card col-lg-4 my-3 w-100">
                    <div class="face back">
                        <div class="content">
                            <span class="stars"></span>
                            <div class="text-center">
                                <b class="desc"><i class="fa-solid fa-database fa-3x"></i></b></div>
                            <p class="desc">
                                Les moyens de stockage aujourd'hui revêtent un enjeu majeur de vos infrastructures...
                            </p>
                        </div>
                    </div>

                    <div class="face front text-center">
                        <b>Stockage</b>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card col-lg-4 my-3 w-100">
                    <div class="face back">
                        <div class="content">
                            <span class="stars"></span>
                            <div class="text-center">
                                <b class="desc"><i class="fa-solid fa-server fa-3x"></i></b></div>
                            <p class="desc">
                                Soucieux de vous offrir des infrastructures informatiques fiables et performantes, ...
                            </p>
                        </div>
                    </div>

                    <div class="face front text-center">
                        <b>Serveur</b>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card col-lg-4 my-3 w-100">
                    <div class="face back">
                        <div class="content">
                            <span class="stars"></span>
                            <div class="text-center">
                                <b class="desc"><i class="fa-regular fa-floppy-disk fa-3x"></i></b></div>
                            <p class="desc">
                                La perte de données peut être catastrophique pour une entreprise ou un particulier ...
                            </p>
                        </div>
                    </div>
                    <div class="face front text-center">
                        <b>Sauvegarde</b>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card col-lg-4 my-3 w-100">
                    <div class="face back">
                        <div class="content">
                            <span class="stars"></span>
                            <div class="text-center">
                                <b class="desc"><i class="fa-regular fa-floppy-disk fa-3x"></i></b></div>
                            <p class="desc">
                                Vous cherchez des ordinateurs professionnels performants et fiables pour votre
                                entreprise ?
                            </p>
                        </div>
                    </div>
                    <div class="face front text-center">
                        <b>Poste de travail</b>
                    </div>
                </div>
            </div>

        </div>
    </div>


            <h1>Réseau / Sécurité</h1>
            <p>Les réseaux sont intrinsèquement liés à la qualité et la sécurité de nos infrastructures. Dans ce
                chapitre vous trouverez nos solutions dans les domaines du réseau et de la sécurité.</p>






            <div class="card-container">
                <div class="row">
                    <div class="col-md-3 mx-auto">
                        <div class="card col-lg-4 my-3 w-100">
                            <div class="book">
                                <p>Hello</p>
                                <div class="cover">
                                    <p>Hover Me</p>
                                </div>
                            </div>
                </div>
            </div>
        </div>

    </div>


































{% endblock %}