{% extends 'base.html.twig' %}


{% block title %}Service{% endblock %}


{% block body %}


    <h1 class="title">Services</h1>

    <p class="paragraph">Bienvenue sur notre page dédiée aux services informatiques, où nous mettons notre
        expertise à votre disposition pour répondre à tous vos besoins en matière de technologies de
        l’information. Que ce soit pour la gestion de vos données, la sécurisation de votre réseau ou encore la
        refonte de vos infrastructures sur mesure, nous sommes là pour vous accompagner dans toutes vos
        démarches informatiques.</p>




    <h1 class="title1">Infrastructure / Système</h1>
    <p class="paragraph1">Nous vous assistons dans les domaines suivants :</p>




    {% if card %}


        <div class="container">
            <div class="row">
                {% for c in card %}
                    <div class="col-md-4 col-lg-3 mx-auto">
                        <div class="cards my-3 w-100">
                            <div class="face back">
                                <div class="content">
                                    <span class="stars"></span>
                                    <div class="text-center">
                                        <b class="desc"><i class="fa-regular fa-floppy-disk fa-3x"></i></b></div>
                                    <p class="desc" style="color: {{ c.contentColor ? c.contentColor : '#2A4999' }}">
                                        {{ c.content }}
                                    </p>
                                </div>
                            </div>
                            <div class="face front text-center">
                                <b style="color: {{ c.titleColor ? c.titleColor : '#2A4999' }}">{{ c.title }}</b>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 mx-auto">
                <div class="cards  my-3 w-100">
                    <div class="face back">
                        <div class="content">
                            <span class="stars"></span>
                            <div class="text-center">
                                <b class="desc"><i class="fa-solid fa-database fa-3x"></i></b></div>
                            <p class="desc">
                                Les moyens de stockage aujourd'hui revêtent un enjeu majeur de vos infrastructures...
                            </p>
                        </div>
                    </div>

                    <div class="face front text-center">
                        <b>Stockage</b>
                    </div>

                </div>
            </div>


            <div class="col-md-4 col-lg-3 mx-auto">
                <div class="cards  my-3 w-100">
                    <div class="face back">
                        <div class="content">
                            <span class="stars"></span>
                            <div class="text-center">
                                <b class="desc"><i class="fa-solid fa-server fa-3x"></i></b></div>
                            <p class="desc">
                                Soucieux de vous offrir des infrastructures informatiques fiables et performantes, ...
                            </p>
                        </div>
                    </div>

                    <div class="face front text-center">
                        <b>Serveur</b>
                    </div>

                </div>
            </div>


            <div class="col-md-4 col-lg-3 mx-auto">
                <div class="cards my-3 w-100">
                    <div class="face back">
                        <div class="content">
                            <span class="stars"></span>
                            <div class="text-center">
                                <b class="desc"><i class="fa-regular fa-floppy-disk fa-3x"></i></b></div>
                            <p class="desc">
                                La perte de données peut être catastrophique pour une entreprise ou un particulier ...
                            </p>
                        </div>
                    </div>
                    <div class="face front text-center">
                        <b>Sauvegarde</b>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-3 mx-auto">
                <div class="cards  my-3 w-100">
                    <div class="face back">
                        <div class="content">
                            <span class="stars"></span>
                            <div class="text-center">
                                <b class="desc"><i class="fa-solid fa-briefcase fa-3x"></i></b></div>
                            <p class="desc">
                                Vous cherchez des ordinateurs professionnels performants et fiables pour votre
                                entreprise ?
                            </p>
                        </div>
                    </div>
                    <div class="face front text-center">
                        <b>Poste de travail</b>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h1 class="title1">Réseau / Sécurité</h1>
    <p>Les réseaux sont intrinsèquement liés à la qualité et la sécurité de nos infrastructures. Dans ce
        chapitre vous trouverez nos solutions dans les domaines du réseau et de la sécurité.</p>




    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 mx-auto">
                <div class="cards  my-3 w-100">
                    <div class="face back">
                        <div class="content">
                            <span class="stars"></span>
                            <div class="text-center">
                                <b class="desc"><i class="fas fa-network-wired fa-3x"></i></b></div>
                            <p class="desc">
                                Le réseau est le ciment de nos infrastructures , il permet d'acheminer nos données et de
                                les mettre à l'abri des regards indiscrets...

                            </p>
                        </div>
                    </div>

                    <div class="face front text-center">
                        <b>Réseau</b>
                    </div>

                </div>
            </div>


            <div class="col-md-4 col-lg-3 mx-auto">
                <div class="cards my-3 w-100">
                    <div class="face back">
                        <div class="content">
                            <span class="stars"></span>
                            <div class="text-center">
                                <b class="desc"><i class="fas fa-bug fa-3x"></i></b></div>
                            <p class="desc">
                                Les EDR font petit à petit leurs entrées dans le domaine de la sécurité ....

                            </p>
                        </div>
                    </div>

                    <div class="face front text-center">
                        <b>EDR / XDR</b>
                    </div>

                </div>
            </div>


            <div class="col-md-4 col-lg-3 mx-auto">
                <div class="cards my-3 w-100">
                    <div class="face back">
                        <div class="content">
                            <span class="stars"></span>
                            <div class="text-center">
                                <b class="desc"><i class="fas fa-person-booth fa-3x"></i></b></div>
                            <p class="desc">
                                Longtemps perçu comme l'unique rempart entre l'extérieur et votre entreprise ...
                            </p>
                        </div>
                    </div>

                    <div class="face front text-center">
                        <b>Firewall</b>
                    </div>

                </div>
            </div>


            <div class="col-md-4 col-lg-3 mx-auto">
                <div class="cards my-3 w-100">
                    <div class="face back">
                        <div class="content">
                            <span class="stars"></span>
                            <div class="text-center">
                                <b class="desc"><i class="fas fa-user-lock fa-3x"></i></b></div>
                            <p class="desc">
                                Le SASE (Secure Access Service Edge) et le SSE (Secure Service Edge) sont deux approches
                                de sécurité ...
                            </p>
                        </div>
                    </div>

                    <div class="face front text-center">
                        <b>SASE / SSE</b>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright : © 2023 VILA VINCENT |

    </div>
    <!-- Copyright -->




































{% endblock %}