{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

    {% block body %}

        <h1 class="sessions">Prochaines sessions</h1>

        <div class="container">
            <div class="row">
                <div class="col-md-3 mx-auto pt-5">
                <div class="card col-lg-4 my-3 w-100 text-bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header text-center fw-bold">Formation Bureautique</div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Formation Classique<br>Word, PowerPoint, Excel</h5>
                        <p class="card-text text-center">Dans nos locaux: Rue des Ecoles ESPOEY.<br>Prochaine session du 04
                            Septembre 2023 au 06 Octobre 2023<br>Prix: 800 €</p>
                    </div>
                </div>
                </div>
                <div class="col-md-3 mx-auto pt-5">
                    <div class="card col-lg-4 my-3 w-100 text-bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center fw-bold">Formation Bureautique</div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Formation Classique<br>Word, PowerPoint, Excel</h5>
                            <p class="card-text text-center">En classe à distance, en visioconférence par petit groupe Prochaine session du 09
                                Octobre 2023 au 03 Novembre<br>2023<br>Prix: 800 € </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mx-auto pt-5">
                    <div class="card col-lg-4 my-3 w-100 text-bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center fw-bold">Formation Bureautique</div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Formation Rapide<br>Word, PowerPoint, Excel</h5>
                            <p class="card-text text-center">En classe à distance, en visioconférence individuel ou par petit groupe<br> Prochaine session le 06
                                Novembre 2023<br>Prix: 150 € </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3 mx-auto pt-5">
                    <div class="card col-lg-4 my-3 w-100 text-bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header text-bg-secondary text-center fw-bold">Formation Technique</div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Formation Classique<br>Réseaux, IPV4, Linux</h5>
                            <p class="card-text text-center">Dans nos locaux: Rue des Ecoles ESPOEY.<br>Prochaine session du 13
                                Novembre 2023 au 1er Décembre<br> 2023<br>Prix: 950 € </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mx-auto pt-5">
                    <div class="card col-lg-4 my-3 w-100 text-bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header text-bg-secondary text-center fw-bold">Formation Technique</div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Formation Classique<br>Réseaux, IPV4, Linux</h5>
                            <p class="card-text text-center">En classe à distance, en visioconférence par petit groupe Prochaine session du 04
                                Décembre 2023 au 22 Décembre<br> 2023<br>Prix: 950 € </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mx-auto pt-5">
                    <div class="card col-lg-4 my-3 w-100 text-bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header text-bg-secondary text-center fw-bold">Formation Technique</div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Formation Rapide<br>Réseaux, IPV4, Linux</h5>
                            <p class="card-text text-center">En classe à distance, en visioconférence individuel ou par petit groupe<br> Prochaine session le 27
                                Décembre 2023<br>Prix: 200 € </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Copyright : © 2023 VILA VINCENT |

        </div>
        <!-- Copyright -->

    {% endblock %}

