.card{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    justify-content: space-between;
    border-color: red;
}

@media screen and (min-width: 383px){
    .card
}


.navbar-brand {

    color: white;
}
.nav-link{

    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2A4999;

}


.img-fluid{
    display: flex;
    flex-wrap: wrap;
}

.img{
    height: 600px;
    background-image: url("../images/bannieres.jpg");
    background-size: cover;

}

h1{
    text-align: center;
    color: #2A4999;
    font-weight: bold;
}

p{
    text-align: center;
}




h3.card-subtitle{
    text-align: center;
    
}

h2.card-subtitle{
    text-align: center;
}

.card-text{
    text-align: center;
}

