/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body{
    font-family: 'Quicksand', serif;
    font-style: normal;
}


.navbar-brand {

    color: white;
}
.nav-link{

    color: white;
}

h4, h1{
    text-align: center;
    color: #2A4999;
    font-weight: bold;
    font-size: 60px;
}

p{
    text-align: center;
}

.card-img{
    height: 600px;
    background-size: cover;
}

.text-white{
    margin: auto;
}
.fa-solid, .fa-regular, .fa-brands{
    color: #2A4999;
}

.card{
    border-color: red;

}
.card:hover {
    -ms-transform: scale(1.5);
    /* IE 9 /
   -webkit-transform: scale(1.5); / Safari 3-8 */
    transform: scale(1.3);
}

.title{
    animation-duration: 2s;
    animation-name: slidein;
}
.paragraph{
    animation-duration: 6s;
    animation-name: slidein;
}

.title1{
    padding-top: 100px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.title{
    padding-top: 150px;

}

.icon{
    color: #2A4999;
    margin-bottom: 10px;
}

.cards{

    position: relative;
    width: 400px;
    height: 350px;
    margin: 0 auto;
    /*background: #000;*/
    border-radius: 15px;
    /*box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);*/
    border: solid red 1px;
}

.face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face.back {
    box-sizing: border-box;
    padding: 20px;
}

.face.back b {
    margin: 0;
    padding: 0;
}

.face.back .desc {
    /*background-color: #eee;*/
    -webkit-background-clip: text;
    /*-webkit-text-fill-color: transparent;*/
}

.face.front {
    transition: 0.5s;
}

.face.front b {
    margin: 0;
    padding: 0;
    font-size: 2.1em;
    color: black;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.cards:hover .face.front {
    height: 60px;
}

.cards:hover .face.front b {
    font-size: 2em;
}

.face.front {

    background-color: #2A4999;
    border-radius: 15px;
}

.desc{
    color: dimgrey;
}


/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Styles spécifiques à la section des produits */
/*#featured-products {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
/*    grid-gap: 20px;*/
/*}*/

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}


/* Styles du pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

textarea {
    display: block;
    border: 1px solid #BBB;
    color: #444;
    font-size: 110%;
}

button {
    margin-top: 10px;
}
.cardss, .carde{
    width: 500px;
    height: 300px;
    perspective: 1000px;
}


.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}
.carde:hover .card-inner {
    transform: rotateY(180deg);
}
.cardss:hover .card-inner {
    transform: rotateY(180deg);
}


.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-color:    white  ;
    color: #2A4999;
    display: flex;
    align-items: center;
    border: 10px solid    #d52121  ;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}

.card-back {
    background-color:   white ;
    color: #2A4999;
    display: flex;
    align-items: center;
    border: 10px solid   #d52121  ;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
}


h6{
    padding: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #2A4999;
}
.text{
    color:white;
}
.technique{
    height:300px;
    width: 4000px;
    background-color: #299059;
}
.bureautique{
    height:300px;
    width: 4000px;
    background-color:  #1766e9 ;
}



.page {
    position: relative;
    box-sizing: border-box;
    max-width: 300px;
    font-family: cursive;
    font-size: 20px;
    border-radius: 10px;
    background: #fff;
    background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;
    line-height: 1.2rem;
    padding: 1.4rem 0.5rem 0.3rem 4.5rem;
}

.page::before,
.page::after {
    position: absolute;
    content: "";
    bottom: 10px;
    width: 40%;
    height: 10px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
    z-index: -1;
    transition: all 0.3s ease;
}

.page::before {
    left: 15px;
    transform: skew(-5deg) rotate(-5deg);
}

.page::after {
    right: 15px;
    transform: skew(5deg) rotate(5deg);
}

.page:hover::before,
.page:hover::after {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}

.margin {
    position: absolute;
    border-left: 1px solid #d88;
    height: 100%;
    left: 3.3rem;
    top: 0;
}

.page p {
    margin: 0;
    text-indent: 1rem;
    padding-bottom: 1.2rem;
    color: black;
    line-height: 20px;
}

.formation{
    padding-top: 100px;
}

.list{
    list-style: inside;
    text-align: center;
}

.puce{
    font-size: 30px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.word{
    color: #1766e9;
}

.excel{
    color: #299059;
}
.powerpoint{
    color:   #cf3e15 ;
}
.cardes{
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}


.picture1{

    height: 292px;
    width: 400px;
    margin: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
}

.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid + span {
    color: green;
}

.input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
}

.form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
    top: 40px;
    font-size: 0.9em;
}

.form label .input01:focus + span,.form label .input01:valid + span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input01:valid + span {
    color: green;
}

.fancy {
    background-color: transparent;
    border: 2px solid #cacaca;
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: #cacaca;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: #818181;
    transform: translateX(30%);
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: #cacaca;
}

.fancy:hover::before {
    width: 1.5rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

.sessions{
    padding: 50px;
}

.dropdown:hover{
    cursor: pointer;
}

.bouton{
    position:relative;
    display:inline-block;
    float:right;
}

.banniere{
    padding-top: 50px;

}

.rounded-table{
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid black;
}
.main__login-form {
    margin-inline: auto;
    /*max-width: 25em;*/
}

.login-form {
    display: grid;
    position: relative;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 1em;
}

.login-form::before {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    inset: 0;
    border-radius: inherit;
    content: "";
    z-index: -4000;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

@media (max-width: 768px) {
    .login-form {
        margin-top: 2rem;
    }
}

.card-height{
    height: 25vh!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}
