{# On crée une variable Twig "route" qui contiendra le nom de la route actuellement chargée (servira pour le menu entre autre #}
{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="fr" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#  Affichage du titre de la page venant de la vue via le block "title" , suivi du nom du site collé à côté #}
    <title>{% block title  %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {# Inclusion de Font-Awesome #}

    {# Inclusion de Bootstrap #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {# Inclusion Styles perso #}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {# Block pour permettre aux pages de rajouter individuellement des fichiers CSS additionnels #}
    {% block css %}{% endblock %}
    </head>
    <body>

    {# Inclusion du menu principal du site #}
    {% include 'partials/_main_navbar.html.twig' %}










    {# Inclusion JS Bootstrap #}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ asset('js/script.js') }}"></script>


        {% block body %}{% endblock %}
    </body>
</html>
