{% extends 'base.html.twig' %}

{% block title %}Edit HomeBanner{% endblock %}

{% block body %}
    <h1>Edit HomeBanner</h1>

    {{ include('home_banner/_form.html.twig', {'button_label': 'modifier'}) }}

    <a href="{{ path('app_home_banner_index') }}">back to list</a>

    {{ include('home_banner/_delete_form.html.twig') }}
{% endblock %}
