{% extends 'base.html.twig' %}

{% block title %}New HomeBanner{% endblock %}

{% block body %}
    <h1>Create new HomeBanner</h1>


    {{ include('home_banner/_form.html.twig') }}

    <a href="{{ path('app_home_banner_index') }}">back to list</a>
{% endblock %}
